<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.socialworld.simpleclient.SocialWorldClient">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.socialworld.simpleclient.Perspective"
            id="org.socialworld.simpleclient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.socialworld.simpleclient.views.View"
            id="org.socialworld.simpleclient.view">
      </view>
   </extension>
   <extension
         id="SocialWorldClient"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.socialworld.simpleclient.application"
            name="SocialWorld Client">
         <property
               name="appName"
               value="SocialWorld Client">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.socialworld.simpleclient.simulationActionSet"
            label="Simulation Action Set"
            visible="true">
         <menu
               id="SimulationMenu"
               label="&amp;Simulation">
         </menu>
         <action
               class="org.socialworld.simpleclient.actions.AddHumanAction"
               id="org.socialworld.simpleclient.addHuman"
               label="&amp;Add human"
               menubarPath="SimulationMenu/mainGroup"
               toolbarPath="mainGroup"
               tooltip="Add a human object to the human list.">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.KillHumanAction"
               id="org.socialworld.simpleclient.KillHuman"
               label="&amp;Kill Human"
               menubarPath="SimulationMenu/mainGroup"
               style="push"
               tooltip="removes a human objectfrom the human list.">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.ReleaseEventAction"
               id="org.socialworld.simpleclient.releaseEvent"
               label="&amp;Release Event"
               menubarPath="SimulationMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="release an event">
         </action>
      </actionSet>
      <actionSet
            id="org.socialworld.simpleclient.MenschwahlActionSet"
            label="Menschwahl"
            visible="true">
         <menu
               id="MenschwahlMenu"
               label="Menschwahl">
         </menu>
         <action
               class="org.socialworld.simpleclient.actions.ChooseHuman1Action"
               id="org.socialworld.simpleclient.Mensch1"
               label="Mensch&amp;1"
               menubarPath="MenschwahlMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="choose human 1">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.ChooseHuman2Action"
               id="org.socialworld.simpleclient.Mensch2"
               label="Mensch&amp;2"
               menubarPath="MenschwahlMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="choose human 2">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.ChooseHuman3Action"
               id="org.socialworld.simpleclient.Mensch3"
               label="Mensch&amp;3"
               menubarPath="MenschwahlMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="choose human 3">
         </action>
      </actionSet>
      <actionSet
            id="org.socialworld.simpleclient.AktionActionSet"
            label="&amp;Aktionen"
            visible="true">
         <menu
               id="AktionenMenu"
               label="&amp;Aktionen">
         </menu>
         <action
               class="org.socialworld.simpleclient.actions.StepForwardAction"
               id="org.socialworld.simpleclient.schrittVor"
               label="Schritt&amp;Vor"
               menubarPath="AktionenMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="one step forward">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.StepBackAction"
               id="org.socialworld.simpleclient.schrittZurueck"
               label="Schritt&amp;Zurueck"
               menubarPath="AktionenMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="one step back">
         </action>
      </actionSet>
   </extension>

</plugin>
