<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.socialworld.simpleclient.SocialWorldClient">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.socialworld.simpleclient.Perspective"
            id="org.socialworld.simpleclient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.socialworld.simpleclient.views.View"
            id="org.socialworld.simpleclient.view">
      </view>
   </extension>
   <extension
         id="SocialWorldClient"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.socialworld.simpleclient.application"
            name="SocialWorld Client">
         <property
               name="appName"
               value="SocialWorld Client">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.socialworld.simpleclient.simulationActionSet"
            label="Simulation Action Set"
            visible="true">
         <menu
               id="SimulationMenu"
               label="&amp;Simulation">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.socialworld.simpleclient.actions.StartSimulationAction"
               icon="icons/sample.gif"
               id="org.socialworld.simpleclient.startSimulation.StartSimulationAction"
               label="&amp;Start simulation"
               menubarPath="SimulationMenu/mainGroup"
               toolbarPath="mainGroup"
               tooltip="Starts the simulation">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.AddHumanAction"
               id="org.socialworld.simpleclient.addHuman"
               label="&amp;Add human"
               menubarPath="SimulationMenu/mainGroup"
               toolbarPath="mainGroup"
               tooltip="Add a human object to the human list.">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.KillHumanAction"
               id="org.socialworld.simpleclient.KillHuman"
               label="&amp;Kill Human"
               menubarPath="SimulationMenu/mainGroup"
               style="push"
               tooltip="removes a human objectfrom the human list.">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.ReleaseEventAction"
               id="org.socialworld.simpleclient.releaseEvent"
               label="&amp;Release Event"
               menubarPath="SimulationMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="release an event">
         </action>
         <action
               class="org.socialworld.simpleclient.actions.StopSimulationAction"
               id="org.socialworld.simpleclient.stopSimulation.stopSimulationAction"
               label="Stop simulation"
               menubarPath="SimulationMenu/mainGroup"
               style="push"
               toolbarPath="mainGroup"
               tooltip="stops thr simulation">
         </action>
      </actionSet>
   </extension>

</plugin>
